.btn,[class^='btn']{
  --theme-color: #{color(cta)};
  text-transform: uppercase;
  outline: none;
  font-size: 1.2em;
  padding: .6em;
  color:var(--theme-color);
  border: solid 1px var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out .4s;
  background-color: inherit;
  cursor: pointer;
  &:hover{
    background-color: var(--theme-color);
    color: white;
  }
}
.btn-white{
  --theme-color: white;
  &:hover{
    background-color: rgba($color: #fff, $alpha: .7);
  }
}

.cta-btn{
  position: absolute;
  height: 50%;
  background-color: color(cta);
  color: white;
  top: calc( 50% + 25% );
  right: 0;
  z-index: 200;
  padding: .5em 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: .8em;
  cursor: pointer;
  transition: transform ease-out .4s;
  transform-origin: center right;
  transform: translateX(0em);
  &::before{
    background-color: inherit;
    transition: inherit;
    content: '';
    position: absolute;
    height: 100%;
    width: calc(1em + 1px);
    top:0;
    right: 0;
  }
  &:hover{
    transform: translateX(-1em);
    &::before{
      transform: translateX(1em);
    }
  }

  @include media(md,max){
    display: none;
  }

}