.btn,[class^='btn']{
  --theme-color: #{color(cta)};
  text-transform: uppercase;
  outline: none;
  padding: .6em;
  color:var(--theme-color);
  border: solid 1px var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out .4s;
  background-color: inherit;

  font-family: 'Scheherazade', serif;
	font-size: 1.5em;
	letter-spacing: .3em;
	margin-top: .8em;
  margin-bottom: .8em;
  
  cursor: pointer;
  &:hover{
    background-color: var(--theme-color);
    color: white;
  }
}
.btn-white{
  --theme-color: white;
  font-family: 'Scheherazade', serif;
	// font-size: 1em;
	letter-spacing: .3em;
  &:hover{
    background-color: rgba(#fff,.1);
  }
}

.cta-btn{
  position: absolute;
  height: 50%;
  background-color: color(cta);
  color: white;
  top: calc( 50% + 25% );
  right: 0;
  z-index: 200;
  padding: .5em 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: .8em;
  cursor: pointer;
  transition: transform ease-out .4s;
  transform-origin: center right;
  transform: translateX(0em);
  &::before{
    background-color: inherit;
    transition: inherit;
    content: '';
    position: absolute;
    height: 100%;
    width: calc(1em + 1px);
    top:0;
    right: 0;
  }
  &:hover{
    transform: translateX(-1em);
    &::before{
      transform: translateX(1em);
    }
  }

  @include media(md,max){
    display: none;
  }

}

.up-btn{
  @at-root .icon-up::before{
    align-items: center;
    display: flex;
    align-items: center;
    justify-items: center;
    transform: translateX(1px)
  }

  cursor: pointer;
  height: 6em;
  outline: none;
  z-index: 2000;
  border: none;
  position: fixed;
  color:white;
  bottom: 10%;
  left: .5em;
  width: 2em;
  display: table;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Raleway, 'sans-serif';
  background-color: color(dark-footer);
  font-size: 1em;
  padding-bottom: 2em;
  padding-top: 1em;
  justify-content: space-between;
  transition: transform cubic-bezier(0.42, 0, 0.52, 1.46) .6s;
  transform: scale(.001);
  &.active{
    transform: scale(1);
  }
  @at-root .footer:hover &{
    // transform: scale(1);
  }
  &__text{
    transform: rotateZ(-90deg)
  }
  

}