.description{
  @include media(md){
    display: grid;
    grid-template-columns: repeat(3,1fr);
    // grid-template-columns: 
    grid-template-areas: ". title title" ". text text"

  }

  &__title{
    grid-area: title;
    justify-self: start;
  }
  &__text{
    grid-area: text;
    font-family: 'Scheherazade', serif;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2em;
    &, p{
      text-align: justify;
      
    }
  }

}