.footer{
  --paddin-footer:2em;
  @include media(md){
  --paddin-footer:1em;

  }
  overflow-x: hidden;
  background-color: $color-darkgray;
  color:white;
  padding: var(--paddin-footer);
  background: linear-gradient(#404052 0%, #23222b 100%);
  background: color(dark-footer);
  position:relative;
  z-index: 20;
  &__section{
    border-top: solid white 1px;
    &:last-of-type{
      border-bottom: solid white 1px;
    }
    --paddin-footer-sec:.8em;
    padding: var(--paddin-footer-sec);
    @include media(md){
      padding-bottom: calc(var(--paddin-footer-sec) + 1.66em);
    }
  }
  &__title{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 200;
  }

  @include media(md){
    padding:1em 2em;

    display: grid;
    grid-template-areas: 'subscribe copy';
    grid-template-columns: 2fr 1fr;
    &__section,&__section:last-of-type{
      border:none;
    }

  }

}
.develop-copy{
  display: flex;
  grid-area: 'copy';
  flex-direction: column;
  align-items: flex-start;
  @include media(md){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__fig{
    position: relative;
    // transform: translateX( 0 ) rotateY(-10deg) rotateX(5deg) scale(1);
    transition: transform ease-in-out .3s;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &:hover{
      // transform: translateX(0) rotateY(-30deg) rotateX(15deg) scale(1.2);
    }
    @include media(md){
      flex-direction: row;
      height: 3em;
     
      // transform: translateX(0) rotateY(-10deg) rotateX(5deg) scale(1);
    }
    
    &::before{
      content: '';
      position: absolute;
      height: 110%;
      width: calc(100% + calc( var(--paddin-footer) + var(--paddin-footer-sec) ) * 2 );
      background-color: rgba($color: #000000, $alpha: .15);
      top: 50%;
      box-shadow: -2px 2px 2px rgba(0,0,0, .3);
      // transform: translateY(-50%) translateX(calc(var(--paddin-footer) + var(--paddin-footer-sec)));
      transform: translateY(-50%) ;
    }
  }
  &__nav{
    flex-grow:.8;
    @include media(md,max){
      padding: .5em;
     
      // transform: translateX(0) rotateY(-10deg) rotateX(5deg) scale(1);
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__link{
    color: color(primary);
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    @include media(md,max){
      margin: 0 .5em;
    }
    transition: transform ease-in-out .2s;
    &:hover{
      transform: scale(1.1)
    }

  }
  &__img{
    max-height: 90px;
    display: block;
    position: relative;
    flex-grow: 0;
    @include media(md){
      // background-color: rgba($color: #000000, $alpha: .15);
      display: block;
      flex-grow:0;
      max-height: none;
      height: 100%;
      margin: 0 auto;
      transform: scale(2)
      // height: 100%;
    }
  }
}

.subscribe{
  grid-area: 'subscribe';
  
  &__form,p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
  }
  .wpcf7-form-control-wrap{
    height: 100%;
    width: 75%;
  }
  &__input{
    margin-right: 1em;
    height: 100%;
  }
  &__btn{
    font-size: 1em;
    margin: 0;
    height: 3em;
  }
}