.footer{
  --paddin-footer:2em;
  @include media(md){
  --paddin-footer:1em;

  }
  overflow-x: hidden;
  background-color: $color-darkgray;
  color:white;
  padding: var(--paddin-footer);
  background: linear-gradient(#404052 0%, #23222b 100%);
  position:relative;
  z-index: 20;
  &__section{
    border-top: solid white 1px;
    &:last-of-type{
      border-bottom: solid white 1px;
    }
    --paddin-footer-sec:.8em;
    padding: var(--paddin-footer-sec);
  }
  &__title{
    text-align: left;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 200;
  }

  @include media(md){
    padding:1em 2em;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    &__section,&__section:last-of-type{
      border:none;
    }

  }

}
.notice-item{
  margin: .5em 0;
  font-size: .9em;
  margin: .5em 0;
  font-family: Raleway, 'sans-serif';
  &__title{
    font-size: 1em;
    font-weight: 400;
    font-size: 1.2em;
    &:hover{
      text-decoration: underline;
    }
  }
  &__text,&__title{
    margin: 0;
  }
  &__date{
    font-style: italic;
    font-weight: 300;
  	font-size: .8em
  }
}

.develop-copy{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include media(md){
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__fig{
    position: relative;
    transform: translateX( 0 ) rotateY(-30deg) rotateX(15deg) scale(1.2);
    transition: transform ease-in-out .3s;
    &:hover{
      transform: translateX(3.8em) rotateY(-30deg) rotateX(15deg) scale(1.2);
    }
    @include media(md){
      transform: translateX( 2.8em );
    }
    
    &::before{
      content: '';
      position: absolute;
      height: 70%;
      width: 100%;
      background-color: rgba($color: #000000, $alpha: .15);
      top: 50%;
      box-shadow: -2px 2px 2px rgba(0,0,0, .3);
      transform: translateY(-50%);
    }
  }
  &__img{
    max-height: 90px;
    display: block;
    position: relative;
    @include media(md){
      // background-color: rgba($color: #000000, $alpha: .15);
      display: block;
      flex-grow:1;
      max-height: none;
      width: 50%;
      margin: 0 auto;
      // height: 100%;
    }
  }
}

.subscribe{

  &__btn{
    font-size: 1em;
  }
}