.gallery{
  &__img{
    display: block;
    width: 100%;
    &:nth-of-type(odd){
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 85%) 
    }
    &:nth-of-type(even){
      clip-path: polygon(0 0, 100% 15%, 100% 85%, 0 100%) 
    }
  }

  &__btn{
    
  }
}