:root{
  @include media(md){
    // --header-height: 80px
  }
}
.main-header{
  height: $header-height;

  display: flex;
  margin: .4em ;
  @include media(md){
    position: relative;
  }
  @include media(1200px){
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

  }
}

.main-logo{
  height: 100%;
  padding:.2em 0;
  // margin-left: .8em;
  @include media(md){
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }
  &__img{
    display: block;
    height: 100%;
  }

}