:root{
  @include media(md){
    --header-height: 100px;
  }
}
.main-content,.footer{
  transform: translateY(calc(var(--header-height)));
}
.main-header{
  height: var(--header-height);
  // transform: translateY(calc(- var(--header-height)));
  display: flex;
  padding: .4em ;
  background-color: color(background);
  position: fixed;
  z-index: 5000;
  @include media(md){
    position: fixed;
    padding: 1em ;
  }
  @include media(1200px){
    margin-right: auto;
    margin-left: auto;

  }
  // display: none;
}

.main-logo{
  height: 100%;
  padding:.2em 0;
  // margin-left: .8em;
  @include media(md){
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
  }
  &__img{
    display: block;
    height: 100%;
  }

}