.hero{
  height: calc(60vh - #{$header-height});
  @include media(md){
    height: calc(100vh - #{$header-height});
  }
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title{
    // background-color: rebeccapurple;
    // @extend %bg-square-centered;
    max-width: 60%;
    position: absolute;
    bottom: 20%;
    left: 10%;
    margin: 0;
    color:#fff;
    --theme-color: #{color(primary,trans20)};
    @include media(md){
      max-width: 50%;
    }

  }
  &__img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity ease-in-out 2s;
    &.active{
      opacity: 1;
    }
  }
  &__flor{
    position: absolute;
    height: 90%;
    left: 0;
    display: block;
    height: 100%;
    transform: translateX(-50%) rotateZ(0deg) scale(1);
    animation: florRotate linear 90s infinite;
    
    @keyframes florRotate {
      0% {
        transform: translateX(-50%) rotateZ(0deg) scale(1); 
      }
      50% {
        transform: translateX(-50%) rotateZ(360deg) scale(.25);
      }
      100% {
        transform: translateX(-50%) rotateZ(0deg) scale(1);
      }
    }

  }

}