.models{
  max-width: none;
  overflow: hidden;
  margin: 2em 0;
  padding-bottom: 5%;
  width: 100%;
  
  &__title{
    grid-area: title;
    align-self: end;
  }
  &__item:nth-of-type(odd){
    grid-template-areas: "img title" "img description";
    grid-template-columns: 60% 1fr;
  }
  &__item:nth-of-type(odd) &__description, &__item:nth-of-type(odd) &__title{
    justify-self: start;
    
  }
  &__item:nth-of-type(even){
    grid-template-areas: "title img" "description img";
    grid-template-columns: 1fr 60%;
  }
  &__item:nth-of-type(even) &__description, &__item:nth-of-type(even) &__title{
    justify-self: end;
  }
  
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    position: relative;
    width: 100%;
    @include media(md){
      margin-top: 0;
      display: grid;
      grid-template-columns: 60% 1fr;
      grid-template-rows: auto auto;
      grid-column-gap: 2 * $gap;
      align-items: center;
      
    }
    
  }
  &__description{
    grid-area: description;
    align-self: start;
    @include media(md,max){
      display: none;
    }
  }
  &__fig{
    grid-area: img;
    width: 100%;
    perspective: 100vw;
    perspective-origin: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  &__img{
    
    transition: transform .4s ease-out ;
  }
  &__item:nth-of-type(even) &__img{
    transform: rotateY(-30deg) rotateX(15deg) scale(.8);
  }
  &__item:nth-of-type(even):hover &__img, &__item:nth-of-type(even).active &__img{
    transform: rotateY(-12deg) rotateX(7deg) scale(1);
  }
  &__item:nth-of-type(odd) &__img{
    transform: rotateY(30deg) rotateX(15deg) scale(.8);
  }
  &__item:nth-of-type(odd):hover &__img, &__item:nth-of-type(odd).active &__img{
    transform: rotateY(12deg) rotateX(7deg) scale(1);
  }
  &__img{
    display: block;
    width: 100%;
    @include media(md){
      width: 60%;
    }
    box-shadow: 8px 8px 15px rgb(195, 195, 195); 
  }

  &__sold{
    font-family: Raleway;
    font-size: 1.5em;
    color: white;
    text-shadow: 1px 1px 3px rgb(119, 119, 119);
    position: absolute;
    top: 3em;
    transition: transform .4s ease-out;
    &::before{
      position: absolute;
      content: "";
      display: block;
      z-index: -1;
      height: 4em;
      width: 4em;
      background-color: rgba(#fdcaca, .8);
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      border-radius: 50%;
    }
  }
  &__item:nth-of-type(even) &__sold{
    right: 3em;
    transform: translate(-3em,1em) rotateY(-30deg) rotateX(15deg) scale(.8);
  }
  &__item:nth-of-type(even):hover &__sold, &__item:nth-of-type(even).active &__sold{
    transform: rotateY(-12deg) rotateX(7deg) scale(1);
  }
  &__item:nth-of-type(odd) &__sold{
    left: 3em;
    transform: translate(3em,1em) rotateY(30deg) rotateX(15deg) scale(.8);
  }
  &__item:nth-of-type(odd):hover &__sold, &__item:nth-of-type(odd).active &__sold{
    transform: rotateY(12deg) rotateX(7deg) scale(1);
  }
}