.news{
  &.left{
    padding: 0 3em;
    grid-template-areas: "title" "date" "img" "body";
    grid-template-rows: repeat(4,auto);
    @include media(md){
      grid-template-rows: repeat(3,auto);
      grid-template-rows: repeat(2,1fr);
      // grid-template-areas: "title img" "date img" "body img";
      grid-template-areas: "title img" "date img";
      padding: 0 5em;
  
    }
    margin-bottom:20%;
  }
  &__date{
    grid-area: date;
    justify-self: start;
    font-style: italic;
    font-family: Raleway;

  }
  &.left>&__title{
    @include media(md){
      justify-self: center;
      
    }
  }
}