.post{
  // position: relative;
  @at-root [class^="post__btn"]{
    border: none;
    outline: none;
    position: fixed;
    width: 2em;
    min-height: 3em;
    height: 20vh;
    top: 50%;
    transform: translateY(-50%);
    background-color: color(dark-footer);
    color:white;
    transition: background-color ease-in-out .3s; 
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 40;
    @include media(md,max){
      // width: 1em;
      // height: 20vh;
      // font-size: .8em
    }
    &:hover{
      background-color: saturate(lighten(color(dark-footer), 20),20);
      background-color: lighten(color(dark-footer), 10);
    }
    
  }
  padding: 0 3em;
  @include media(md){

    padding: 0 5em;
  }
  &__btn--next{
    right: .5em;
  }
  &__btn--prev{
    left: .5em;
  }
  &__text{
    @include media(md){

      padding: 1em 4em;
    }
    padding: 1em 1em;
    font-size: 1.3em;
    background-color: white; 
    border-radius: 16px; 
    box-shadow: 16px 16px 50px rgba(0,0,0,.05);
    &, p{
      text-align: justify;
      
    }
    p{
      margin: 1em 0;
    }
    br{
      margin: 1em 0;
    }

    ol li ol{
      padding:0;
      list-style: none;
      margin: 1em 0;
    }
      
    ol li ol li {
      font-family: $primary-font;
    }
      
      
    ol li{
      padding:0;
      color: #636366;
      font-weight: 400;
      font-family: 'Raleway', sans-serif;
      font-size: 1em;
    }
  }
  
}

.posts{
  padding: 3em;
  position: relative;
  --padding-post: 24px;
  @include media(md){
    padding: 1em 5em;
    display: grid;
    grid-gap: $gap * 2;
    grid-template-columns: repeat(3,1fr);
  }
  &__item{
    // --padding-post: 24px;
    position: relative;
    z-index: 20;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 16px 16px 50px rgba(0,0,0,.05);
    background-color: #fff;
    @include media(md){
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      padding-bottom: var(--padding-post);
      display:flex;
      flex-direction: column;
      align-items: flex-start;

    }
    @include media(md,max){
      margin-bottom: 2em;
      display: grid;
      grid-column-gap: 2em;
      grid-auto-columns: 30% 1fr;
      grid-template-rows: repeat(2,auto);
      grid-template-areas: "img title" "img date"

    }

  }
  &__fig{
    // padding-bottom: 56.25%;
     grid-area: img;
      height: 20vw;
      min-height: 20vw;
    @include media(md){
      // max-height: 180px;
      height: 15vw;
      max-height: 15vw;
    }
    position: relative;
  }
  &__img{
    
    display: block;
    // position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    // max-height: 120px;
    @include media(md){
      // max-height: 180px;

    }
    @include media(lg){
      // max-height: 240px;

    }
    @include media(xl){
      // max-height: 300px;

    }
  }
  &__title, &__date{
    font-family: Raleway;
    @include media(md,max){
      font-size: .8em;

      
    }
  }
  &__date{
    grid-area: date;
    margin-bottom: 1em;
    @include media(md){
      margin-top:auto;
      padding: 0 var(--padding-post);
    }
    @include media(md,max){
      margin-bottom: 1em;
      
    }
  }
  &__title{
    grid-area: title;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
    @include media(md,max){
      margin-top: 1em;
      padding-right: var(--padding-post);
      
    }
    @include media(md){
      padding: 0 var(--padding-post);
    }

    font-weight: bolder;
    margin-top: var(--padding-post)
  }
  &__text{
    grid-area: post;
    @include media(md){
      display: none;
    }
  }
}