.tulum{
  position:relative;
  padding-bottom: 50vh;
  z-index: 20;
  margin-top: 2em;
  @include media(md){
    padding-bottom: 20vh;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "title map" "text map";
    min-height: 100vh;
    grid-gap: $gap * 2;
  }
  &__title, &__text{
    margin: 0em 2em;
  }
  &__title{
    grid-area: title;
    align-self: end;
    justify-self: start;
  }
  &__text{
    
    grid-area: text;
    background-color: white; 
    border-radius: 16px; 
    padding: 1em;
    box-shadow: 16px 16px 50px rgba(0,0,0,.05);
    &, p{
      text-align: justify;
      
    }
  }
  &__palm{
    display: block;
    z-index: 10;
    // width: 60%;
    position: absolute;
    bottom: 65%;
    left: 0;
    width: 50%;
    // transform: translateX(-25%);
    grid-area: palm;
    @include media(md){
      bottom: -4%;
      left: -8%;
      width: 40%;
    }
  }
  &__map{
    grid-area: map;
    display: block;
    width: 100%;
    height: 70vh;
    @include media(md){
      // align-self: center;
      // height: 95%;
      // object-fit: cover;
      width: 100%;
      height:80vh;
    }
  }
}