footer.footer
  section.footer__section.notices-ft
    h2.footer__title.notices-ft__title Noticias
    article.notice-item
      h3.notice-item__title: a.notice-item(href="#",target="blank") La primera piedra del desarrollo
      p.notice-item__text: time(datetime="2018-10-12").notice-item__date 12 octubre 2018
    article.notice-item
      h3.notice-item__title: a.notice-item(href="#",target="blank") Tulum, patrimonio de la humanidad
      p.notice-item__text: time(datetime="2018-10-12").notice-item__date 12 octubre 2018
    article.notice-item
      h3.notice-item__title: a.notice-item(href="#",target="blank") ¿Qué hacer en Tulum?
      p.notice-item__text: time(datetime="2018-10-12").notice-item__date 12 octubre 2018
    article.notice-item
      h3.notice-item__title: a.notice-item(href="#",target="blank") La vida en el mar es mas sabrosa
      p.notice-item__text: time(datetime="2018-10-12").notice-item__date 12 octubre 2018
  section.footer__section.subcribe
    h2.footer__title.subcribe__title.contact__title.t-uppercase Suscribirse
    form.subcribe__form
      input.contact__input(type="email", name="email", placeholder="Correo Electrónico")
      button.btn-white(type="submit") Enviar
  section.footer__section.develop-copy
    h2.footer__title Un desarrollo de
    figure.develop-copy__fig
      img.develop-copy__img(src=img('Mia','png'), alt="alt")

