
button#btnUp.up-btn #[i.icon-up] #[span.up-btn__text Inicio]  
footer.footer
  section.footer__section.subcribe
    h2.footer__title.subcribe__title.contact__title.t-uppercase Suscribirse
    form.subscribe__form
      input.subscribe__input.contact__input(type="email", name="email", placeholder="Correo Electrónico")
      button.btn-white.subscribe__btn.btn(type="submit") Enviar
  section.footer__section.develop-copy
    h2.footer__title Un desarrollo de
    div.develop-copy__fig
      nav.develop-copy__nav
        a(href="#").develop-copy__link: i.icon-facebook.icon-social-white
        a(href="#").develop-copy__link: i.icon-instagram.icon-social-white
        a(href="#").develop-copy__link: i.icon-linkedin.icon-social-white
      img.develop-copy__img(src=img('Mia','png'), alt="alt")
  

