footer.footer.none
  section.footer__section.notices-ft
    h2.footer__title.notices-ft__title Noticias
    article.notice-item
      h3.notice-item__title: a.notice-item(href="#",target="blank") La primera piedra del desarrollo
      p: time(datetime="2018-10-12").notice-item__date 12 octubre 2018
    article.notice-item
      h3.notice-item__title: a.notice-item(href="#",target="blank") Tulum, patrimonio de la humanidad
      p: time(datetime="2018-10-12").notice-item__date 12 octubre 2018
    article.notice-item
      h3.notice-item__title: a.notice-item(href="#",target="blank") ¿Qué hacer en Tulum?
      p: time(datetime="2018-10-12").notice-item__date 12 octubre 2018
    article.notice-item
      h3.notice-item__title: a.notice-item(href="#",target="blank") La vida en el mar es mas sabrosa
      p: time(datetime="2018-10-12").notice-item__date 12 octubre 2018
  section.footer__section.subcribe
    h2.footer__title.subcribe__title
    form.subcribe__form
      input(type="email", name="email", placeholder="Correo Electrónico")
      button.btn.theme-white(type="submit") Enviar
  section.footer__section.develop-copy
    h2.footer__title Un desarrollo de
    img.develop-copy__img(src=img('Mia','png'), alt="alt")

