include ../components/menu.pug
-
  const menuItems = [
    { name:'Inicio', url:'./', active:'true'},
    { name:'Proyecto', url:'proyecto.html'},
    { name:'Modelos',url:'modelos.html'},
    { name:'Tulum',url:'tulum.html'},
    { name:'Noticias',url:'noticias.html'}
  ]
header.main-header
  figure.main-logo
    img.main-logo__img(src="../img/skytulum-logo.png", alt="Sky Tulum logo")
  +navBar(menuItems)
  
    