include ../includes/functions.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge",)
    title Document
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Raleway:200|Scheherazade&amp;subset=latin-ext")
    block stylesheets

    block vars
  body
    include ./header.pug
    main.main-content
      block main
      section.section.section-contact(class=(contactVisible)?'visible':'')
        article.contact#contact
          .contact__container
            h3.contact__title.t-uppercase Solicitar Información
            form.contact__form(action="")
              input.contact__input(type="text", name="name", placeholder="Nombre Completo")
              input.contact__input(type="email", name="email", placeholder="Correo Electrónico")
              button.btn-white(type="submit") Enviar
        img.section-contact__img(src=img('moon','png'), alt="alt")
      div#particles.particles(data-jsonsrc='assets/particlesjs-config.json')
        div.particles__bg
    include ./footer.pug
    block scripts
