*,
*::before,
*:after {
  box-sizing: border-box;
}


body {
  margin : 0;
  font-family : $primary-font;
  font-size: 1.4em;
  color: color(text);
}
h1,h2,h3,h4,h5,h6{
  font-family:$font-family;
}

a{
  text-decoration: none;
  color:inherit
}
figure{
  margin:0
}

th {
  font-weight: normal;
}
ul:not(.menu){
  list-style: none;
  padding-left: 0;
  li{
    position: relative;
    left: 1.2em;
    &::before{
      content:'○';
      position: absolute;
      top: 0;
      left: -1.2em;
    }
  }
}