mixin posts(items)
  each item in items
    article.posts__item
      figure.posts__fig: img.posts__img(src=item.img)
      h3.posts__title #{item.title}
      time.posts__date #{item.date}
      //- p.posts__text #{item.post}
