extends templates/template.pug
block main
  .perspective.right
    h2.perspective__title.section__title.title-2.bg-square-center.t-uppercase Right Title
    .perspective__body Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam facere fugit recusandae eligendi nulla corporis animi enim quas, a sed vitae harum cupiditate rem repudiandae? Adipisci soluta dignissimos nisi ex. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem eveniet culpa odit! Ducimus nesciunt quae corporis saepe vitae neque aspernatur, impedit sapiente, soluta commodi maiores quis id aliquam ipsam quos.
    figure.perspective__fig: img.perspective__img(src=img('sky-roof'))
  .perspective.left
    h2.perspective__title.section__title.title-2.bg-square-center.t-uppercase Left Title
    .perspective__body Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam facere fugit recusandae eligendi nulla corporis animi enim quas, a sed vitae harum cupiditate rem repudiandae? Adipisci soluta dignissimos nisi ex. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem eveniet culpa odit! Ducimus nesciunt quae corporis saepe vitae neque aspernatur, impedit sapiente, soluta commodi maiores quis id aliquam ipsam quos.
    figure.perspective__fig: img.perspective__img(src=img('sky-roof'))