extends templates/template.pug
include components/specs.pug
 
block main
  section.hero.section
    h1.hero__title.title-1.bg-square-2.t-uppercase Proyecto
    img.hero__img.active(src=img('interior'), alt="interior apartamento") 
  section.section-project.project
    h2.project__title.section__title.title-2.bg-square-center.t-uppercase Sky Tulum
    div.project__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex atque beatae iure necessitatibus aperiam adipisci placeat! Maiores optio, est laudantium sequi consectetur nisi, aut exercitationem vitae sed ipsum dicta aperiam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt laudantium provident similique in eum nulla vel atque ab, officia iste ipsa commodi. Suscipit similique dolorum aliquid vero voluptates voluptate quam.
    figure.project__fig: img.project__img(src=img('sky-roof'), alt="")
  -
    const specs = [
      {
        title:'Nivel 1',
        list: [
          { unit:'S-101', type: 'Studio-lock Off Swim Up', total: '71.92 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'S-102', type: 'Studio-lock Off Swim Up', total: '71.92 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'S-103', type: 'Studio-lock Off Swim Up', total: '73.18 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'S-104', type: 'Studio-lock Off Swim Up', total: '73.18 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'S-105', type: 'Studio-lock Off Swim Up', total: '73.18 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'S-106', type: 'Studio-lock Off Swim Up', total: '73.18 m2', src: 'assets/img/sky-roof.jpg' }
        ]
      },
      {
        title:'Nivel 2',
        list: [
          { unit:'k-201', type: '1 Habitación 1 Jacuzzi', total: '59.0 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'k-202', type: '2 habitaciones Lock Off Jacuzzi', total: '84.5 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'k-203', type: '1 Habitación 1 Jacuzzi', total: '59.6 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'k-204', type: '1 Habitación 1 Jacuzzi', total: '59.6 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'k-205', type: '1 Habitación 1 Jacuzzi', total: '59.6 m2', src: 'assets/img/sky-roof.jpg' },
          { unit:'k-206', type: '1 Habitación 1 Jacuzzi', total: '59.6 m2', src: 'assets/img/sky-roof.jpg' }
        ]
      }
    ]
  section.amenities
    h2.amenities__title.section__title.title-2.bg-square-center.t-uppercase Amenidades
    ul.amenities__list
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF1021
        |Carril de Nado
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF1011
        |Jacuzzi de Acrilico
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF103
        |Cinema al aire libre
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF104
        |BBQ Brill
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF105
        |Bar
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF106
        |Gym
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF107
        |Yoga Zone
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF1021
        |Alberca
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF108
        |Área de lectura
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF10B
        |Snack Bar
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF109
        |Lavandería
      
      li.amenities__list-item 
        span.amenities__icon: i.icon-uniF10A
        |Concerge
      
    figure.amenities__fig: img.amenities__img(src=img('sky-roof'), alt="")
  +specs(specs)