extends templates/template.pug
block main
  section.hero.section
    h1.hero__title.title-1.bg-square-1 Tulum
    img.hero__img(src=img('interior'), alt="interior apartamento")
  section.tulum
    h2.title-2.t-uppercase.tulum__title Tulum
    .tulum__text
      p ipsum dolor sit amet consectetur, adipisicing elit. Aut deserunt at vitae dignissimos. Assumenda expedita excepturi deserunt soluta aut debitis tenetur magni iure. Accusantium, earum incidunt totam recusandae itaque quis. Quod ipsam voluptas ipsa quo alias possimus. Praesentium assumenda error in facilis mollitia deleniti, hic corporis qui quod nihil. Porro saepe odit, nisi consectetur quas iure esse facere repellat doloribus? Similique exercitationem voluptate, ipsum quod magnam, reiciendis asperiores porro quisquam, nostrum nemo ipsa. Labore doloremque voluptates voluptatem recusandae ipsam fugiat atque natus quaerat sapiente obcaecati minima maxime, reiciendis quod quia.
    img(src=img('mapa','png'), alt="").tulum__map
    img(src=img('palm','png'), alt="").tulum__palm
