body{
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  min-height: 100vh;
  @at-root .main-header{
    grid-area: header;
    width: 100%;
  }
  @at-root .main-content{
    grid-area: main;
    width: 100%;
    position: relative;

  }
  @at-root .footer{
    grid-area: footer;
    width: 100%;

  }
}


.section,[class^='section']{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title{
    margin: 1em;
  }
  @include media(1200px){
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  margin: 1em;
}
.section.hero,.section-gallery{
  max-width: none;
  // margin: 1em
}
.section.hero{
  margin: 0;
}

.section-description,.section.contact{
  padding: 1em;
}

.section-description{
  padding: 1em;

  @include media(md){
    display: grid;
    grid-template-columns: 3fr;
  }
  
}
.section-contact{
  padding: 1em;
  margin: 0;
  @include media(md){
    padding: 4em;
    margin: 0 auto;
  }
  max-width: 1400px;
  
  // width: 100%;
  // margin: 1em
}