.bg-square{
  @extend %bg-square;
}
.bg-square-center{
  @extend %bg-square;
  @include media(md) {
      &::before{
      width: 150%;
      left: 50%;
      transform: translateX(-50%) ;
    }
  }
}
.theme-white{
  --theme-color: white;
}