.bg-square{
  @extend %bg-square;
}
.bg-square-center{
  @extend %bg-square;
  @include media(md) {
      &::before{
      width: 130%;
      left: 50%;
      transform: translateX(-50%) ;
    }
  }
}

.bg-center{
  &::before{
    width: 100%;
    left: 0;
  }
}
.center-down-square{
  &::before{
    height: 80%;
    top:75%;
  }
}
.theme-white{
  --theme-color: white;
}

.bg-square-1{
  z-index: 300;
  &::before{
    content: '';
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    // left: 50%;
    // top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(.9,.8);
    transform: translateX( -.6em ) scale(1,.65);
    transform-origin: center center;
    background-color: var(--theme-color)
  }
}
.bg-square-2{
  @extend .bg-square-1;
  &::before{
    content: '';
    transform: translateY(50%) scale(1.3, 0.65);
  }
}
