.bg-square{
  @extend %bg-square;
}
.bg-square-center{
  @extend %bg-square;
  @include media(md) {
      &::before{
      width: 130%;
      left: 50%;
      transform: translateX(-50%) ;
    }
  }
}

.bg-center{
  &::before{
    width: 100%;
    left: 0;
  }
}
.center-down-square{
  &::before{
    height: 80%;
    top:75%;
  }
}
.theme-white{
  --theme-color: white;
}