
@import "config/functions";
@import "config/variables";
@import "config/mixins";

@include font-face(icons, './../fonts/untitled-font-1', normal, bold, ttf);
// .custom-fields-container{
//   display: grid;
  
//   grid-template-columns: calc(50% - 1em) calc(50% - 1em);
//   grid-gap: 2em;
  
//   /* display: flex;
//   flex-wrap: wrap; */
//   /* width: 30%; */
//   /* background-color: red; */


// }
// .custom-fields-container,.custom-felds-container *{
//   box-sizing:  border-box;
// }
// .custom-field{
//   /* background-color: royalblue; */
//   display: flex;
//   flex-direction: column;
// }

// .custom-fields__label{
//   /* border-bottom: 1px solid rgb(194, 193, 193); */
//   font-size: 1.1em;
//   font-weight: 500;
//   padding: .3em;
//   display: block;
//   margin: 0;
//   margin-right: 2em;
//   /* min-width: 100%; */
// }

// .custom-fields--2-col{
//   grid-column: span 2;
// }
// .gallerys-container{
//   display:flex;
//   flex-wrap: wrap;

// }
// .gallery__fig,.gallery__fig--add{
//   height: 150px;
//   box-sizing: border-box;
//   width: 150px;
//   margin:5px;
//   border: solid 4px #e2e2e2;
//   position: relative;
// }

// .gallery__close{
//   position: absolute;
//   top: 5px;
//   right: 5px;
//   color:#e2e2e2;
//   cursor: pointer;
//   display: none;
//   border-radius: 50%;
//   background-color: #fff;
//   height: 2em;
//   width: 2em;
//   line-height: 2em;
//   transform: rotate(45deg);
//   transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .7s;
// }
// .gallery__close::before{
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   font-size: 2em;
//   font-family: icons;
//   content:'\69';
//   color:#e2e2e2;
//   transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .7s;
  
// }
// .gallery__close:hover::before{
//   color: brown;
// }
// .gallery__fig:hover,.gallery__fig--add:hover{
//   border: solid 4px #21759b;
//   background-color: #fff;  
// }
// .gallery__fig:hover .gallery__close{
//   display: block;
// }
// .gallery__fig--add{
//   cursor: pointer;
// }
// .gallery__fig--add::before{
//   width: 3.1rem;
//   height: 3.1rem;
//   border-radius: 50%;
//   position: absolute;
//   top:50%;
//   left: 50%;
//   transform: translateX(-50%) translateY(-50%);
//   font-size: 4em;
//   font-family: icons;
//   content:'\69';
//   background-color: #fff;    
//   color:#e2e2e2;
// }
// .gallery__fig--add:hover::before{
//   color:#21759b;
// }

// .gallery__img{
  
// }
// .gallery__fig,.gallery__fig--add::before,.gallery__fig--add{
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.gallery{
	&__container{
		display: flex;
		flex-wrap: wrap;
	}
	&__btn{
		background-color: inherit;
		outline: none;
		border: none;
	}
	&__close{
		position: absolute;
		top: 5px;
		right: 5px;
		color:#e2e2e2;
		cursor: pointer;
		display: none;
		border-radius: 50%;
		background-color: #fff;
		height: 2em;
		width: 2em;
		line-height: 2em;
		z-index: 100;
		transform: rotate(45deg);
		transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .7s;
		&:hover::before{
			color: brown;
		}
		&::before{
			width: 100%;
			height: 100%;
			position: absolute;
			font-size: 2em;
			font-family: icons;
			content:'\69';
			color:#e2e2e2;
			transition: all cubic-bezier(0.165, 0.84, 0.44, 1) .7s;
		}
	}
	&__input{
		display: none;
	}
	&__fig,&__fig--add,&__fig::before{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__fig:hover &__close{
		display: flex;
		justify-content: center;
		align-items: center;

	}

	&__fig{
		&:hover::before{
			color:#21759b;
		}
		&::before{
			width: 3.1rem;
			height: 3.1rem;
			border-radius: 50%;
			position: absolute;
			top:50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 4em;
			font-family: icons;
			content:'\69';
			background-color: #fff;    
			color:#e2e2e2;
			display: none;

			&:hover{
				border: solid 4px #21759b;

			}
		}
	}
	&__fig, &__fig--add{
		height: 150px;
  	box-sizing: border-box;
  	width: 150px;
  	margin:5px;
  	border: solid 4px #e2e2e2;
		position: relative;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__fig:hover,&__fig--add:hover{
		border: solid 4px #21759b;
  	background-color: #fff; 
	}
	&__fig--add{
		
		&:hover::before{
			color:#21759b;
		}
		&::before{
			width: 3.1rem;
			height: 3.1rem;
			border-radius: 50%;
			position: absolute;
			top:50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			font-size: 4em;
			font-family:icons;
			content:'\69';
			background-color: #fff;    
			color:#e2e2e2;
		}
	}
	&__img{
		width: 100%;
		height: 100%;
		overflow-y: hidden;
	}
}